body,
html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 1250px) {
  .main-container {
    padding-bottom: 100px !important;
  }
  .notas-container {
    width: 100% !important;
  }

  .colecciones-container {
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
  }

  .coleccion-item {
    scroll-snap-align: center;
    position: sticky;
  }
}

@media only screen and (max-width: 714px) {
  .notas-container {
    padding: 1rem !important;
  }

  .input-nota,
  .input-porcentaje {
    width: 75px !important;
    min-width: 75px !important;
    font-size: 13px !important;
  }

  .input-porcentaje input {
    padding-right: 0 !important;
    width: 70px !important;
    min-width: 70px !important;
  }

  .input-porcentaje-right {
    right: 5px !important;
  }

  .nota-container {
    width: 100% !important;
    align-items: center;
    justify-content: center;
    gap: 1rem !important;
  }

  .coleccion-header,
  .coleccion-nombre-badge {
    font-size: 16px !important;
  }

  .nota-nombre {
    width: 100px !important;
    font-size: 14px !important;
  }

  .custom-label-nombre {
    width: 50px !important;
  }

  .resumen-container,
  .resumen-badge {
    font-size: 16px !important;
  }

  .seleccionar-coleccion {
    font-size: 16px !important;
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  .notas-container {
    padding: 0.5rem !important;
  }

  .nota-container {
    gap: 0.2rem !important;
  }

  .coleccion-header,
  .coleccion-nombre-badge {
    font-size: 12px !important;
  }

  .delete-nota {
    height: 30px !important;
    width: 30px !important;
    min-width: 30px !important;
    min-height: 0 !important;
  }

  .delete-nota-icon {
    height: 10px !important;
    width: 10px !important;
  }

  .mutate-buttons button {
    width: 100% !important;
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 400px) {
  .nota-nombre {
    width: 100px !important;
    font-size: 11px !important;
  }

  .coleccion-header,
  .coleccion-nombre-badge {
    font-size: 12px !important;
  }

  .custom-label-nombre {
    width: 50px !important;
  }
}
